* {
    background-color: rgb(87, 87, 87);
}


#title {
    background-image: linear-gradient(to right, teal, aqua);
}

.modal {
    transition: opacity 0.25s ease;
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;